

img {
  max-height: 150px;
  max-width: 150px;
}

p, button, input {
  font-family: 'Inconsolata', monospace;
  color: rgb(207, 103, 120);
}

#yourPizza {
  font-family: 'Inconsolata', monospace;
  color: rgb(207, 103, 120);
}

.form-control {
  font-family: 'Inconsolata', monospace;
  color: rgb(207, 103, 120);
}

.container {
  width: 50%;
}